* {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}
*:focus, *:active {
	outline: none;
	-moz-outline: none;
	outline-style: none;
	-moz-outline-style: none;
	-webkit-outline: none;
	-webkit-outline-style: none;
}
html {
	height: 100%;
}
body {
	height: 100%;
	width: 100%;
	font-size: 12px;
	line-height: 1;
	font-family: "Microsoft YaHei", \u5FAE\u8F6F\u96C5\u9ED1, "MicrosoftJhengHei", \u534E\u6587\u7EC6\u9ED1, STHeiti, MingLiu;
}
img {
	border: 0;
	max-width: 100%;
}
.clear {
	clear: both;
	height: 0;
	display: block;
}
a {
	outline: none;
	text-decoration: none;
	color: #333333;
	cursor: pointer;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}
#ranking {
	display: block;
	width: 350px;
	height: 465px;
	position: absolute;
	top: 10%;
	background-color: #fff;
	border-radius: 20px;
}
#ranking_list {
	display: block;
	width: 345px;
	height:465px;
	overflow: hidden;
	overflow-y:auto;
}

#ranking_list::-webkit-scrollbar-track {
 -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
 background-color: #F5F5F5;
 border-radius: 10px;
}
 #ranking_list::-webkit-scrollbar {
 width: 5px;
 background-color: #F5F5F5;
}
 #ranking_list::-webkit-scrollbar-thumb {
 border-radius: 10px;
 background-image: -webkit-gradient(linear,  left bottom,  left top,  color-stop(0.44, rgb(122,153,217)),  color-stop(0.72, rgb(73,125,189)),  color-stop(0.86, rgb(28,58,148)));
}

#ranking_title, #play_game, #return_back {
	display: block;
	height: 40px;
	line-height: 40px;
	text-align: center;
	color: #fff;
	font-size: 18px;
	border-radius: 20px;
	position: absolute;
}
#ranking_title {
	width: 50%;
	left: 25%;
	top: -21px;
	background-color: #f9820d;
}
#play_game {
	width: 50%;
	left: 25%;
	bottom: -21px;
	background-color: #91cad6;
}
#return_back {
	width: 45%;
	left: 27.5%;
	bottom: 5%;
	letter-spacing:5px;
	background-color: #f9820d;
}
.box {
	width: 100%;
	background-color: #fffaef;
	height: 50px;
	line-height: 50px;
	display: -webkit-box;
	display: -moz-box;
	display: box;
	border-radius: 10px;
	margin:5px auto 5px;
}
.cur{background-color: #91cad6;}
.col_1 {
	width: 50px;
	text-align: center;
	font-size:20px;
	color:#f9820d;
	background-repeat:no-repeat; background-position:center center; background-size:40px 40px;
}

.col_1[title="1"]{ color:#fff; background-image:url(../images/r1.png); line-height:38px;}
.col_1[title="2"]{ color:#fff; background-image:url(../images/r2.png); line-height:38px;}
.col_1[title="3"]{ color:#fff;  background-image:url(../images/r3.png);line-height:38px;}
.col_2 {
	line-height:38px;
	box-flex: 1;
	padding: 5px 0;
	text-align:center;
}
.col_chat {
	width: 30px;
	height: 30px;
	border-radius: 50%;
	text-align:left;
}
.col_2 img {
	width: 40px;
	height: 40px;
	border-radius: 50%;
}
.col_3 {
	width:35%;
	color:#f9820d;
	font-size:14px;	
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	text-align:left;
}
.col_4 {
	width:25%;
	text-align:center;
	color:#f9500d;
	font-size:14px;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}
.cur section{color: #fff;}